<!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <p class="mb-1">Subscribe to our Job seekers Mailing List</p>
        </li><br><br>
        <li class="list-inline-item">
            <form class="input-group">
             <input type="text" class="form-control form-control-sm"  style="background-color: black;" placeholder="Enter Your Email Address" aria-label="Your email" aria-describedby="basic-addon2"  >
                <!--<i class='fas fa-envelope-open' style="color: white;"></i>-->
            
              </form>
    
              </li>
            
      </ul>
      <!-- Call to action -->

    </div>
    <!-- Footer Elements -->
  </footer>
  
  <!-- Footer -->